[Unit]
Description=InfluxDB 2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=influxdb
Group=influxdb
Environment=HOME=/var/lib/influxdb2
ExecStart=/usr/bin/influxd --bolt-path /var/lib/influxdb2/influxd.bolt --engine-path /var/lib/influxdb2/engine
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
