[[inputs.mqtt_consumer]]
  servers = ["tcp://${MQTT_HOST}:${MQTT_PORT}"]
  topics  = ["${MQTT_TOPICS}"]
  client_id = "rtk-telegraf"
  qos = 0
  connection_timeout = "5s"
  data_format = "json_v2"

  [[inputs.mqtt_consumer.json_v2]]
    measurement_name = "rtk"
    [[inputs.mqtt_consumer.json_v2.field]]
      path = ""
      rename = "payload"
      type = "object"

[[outputs.influxdb_v2]]
  urls         = ["${INFLUX_URL}"]
  token        = "${INFLUX_TOKEN}"
  organization = "${INFLUX_ORG}"
  bucket       = "${INFLUX_BUCKET}"
